.quiz-wrap {
	background-color: #001a33; // Black Pearl
	position: relative;
	height: auto;
	width: 900px;
	margin: 30px auto;
	border-radius: 40px;
	box-shadow: 5px 7px 5px 5px rgba(0,26,51,0.5);
	padding: 2px 50px 50px 50px;

  h1 {
    position: relative;
    text-align: center;
    font-size: 60px;
    background-color: #e6e6e6; // Whisper
    color: #001a33;
    border-radius: 40px;
    margin: 30px 10px 30px 10px;
    padding: 2px 0px;
  }

  &-tracker {
    position: relative;
    margin: 20px 10px 10px 10px;
    padding: 0 10px 0 10px;

    &-nos {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #8c8c8c; // Suva Grey
      border-radius: 50%;
      text-align: center;
      color: white;
      padding: 11px;
      margin: 0px 10px 10px 10px;
      font-weight: bolder;
      font-size: 22px;
      border: 1.5px solid white;
    }
  }

  &-quizSet {

    &--question {
      position: relative;
      color: white;
      font-size: 35px;
      font-weight: bold;
      text-align: left;
      margin-left: 10px;
    }

    &--options {
      position: relative;
      width: 550px;
      margin-top: 15px;
    }
  }

  footer {
    position: relative;
    margin-bottom: 30px;

    .quiz-progress {
      position: relative;
      float: left;
      text-align: right;
      margin-top: 20px;
      font-size: 30px;
      color: white;
    }

    .quiz-timer {
      position: relative;
      float: right;
      text-align: right;
      margin-top: 20px;
      font-size: 30px;
      color: white;
    }
  }

  &-result-wrap {
    // display: none;

    &--result {
      text-align: center;
      font-size: 40px;
      color: white;
    }

    &--retake {
      position: relative;
      display: block;
      margin: 10px auto 25px auto;
      background-color: #595959; // Zambezi
      color: white;
      width: 230px;
      padding: 7px;
      border-radius: 50px;
      font-size: 28px;
      font-weight: 900;
      font-family: serif;
      border: 1px solid grey;
      text-align: center;
      box-shadow: 2px 2px 0px 0px rgba(191,191,191,0.5);

      &:hover {
        cursor: pointer;
        background-color: #808080; // Grey
      }

      &:focus {
        outline: none;
      }
    }
  }

}

.quiz-hr {
  border: 2px solid #8c8c8c;
  position: relative;
  clear: both;
}

.quiz-button {
	position: relative;
	background-color: #e6f3ff;  // Alice Blue
	width: 250px;
	height: auto;
	border: 1.5px solid #339cff;  // Dodger Blue
	border-radius: 75px;
	margin: 10px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: #001a33;

  // hover won't be executed, as bg is set from dom
  &:hover {
    background-color: #99ceff; // Columbia Blue
	  cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.quiz-button-submit {
  position: relative;
	float: right;
	background-color: #595959;
	color: white;
	width: 230px;
	padding: 7px;
	border-radius: 50px;
	font-size: 28px;
	font-weight: 900;
	font-family: serif;
	margin: 5px 0px 25px 10px;
	border: 1px solid grey;
	text-align: center;
	box-shadow: 2px 2px 0px 0px rgba(191,191,191,0.5);

  &:hover {
    cursor: pointer;
    background-color: #808080;
  }

  &:focus {
    outline: none;
  }
}
