$blackPearlColor: #001a33;
$whisperColor: #e6e6e6;
$suvaGreyColor: #8c8c8c;
$zambeziColor: #595959;
$greyColor: #808080;
$aliceBlueColor: #e6f3ff;
$dodgerBlueColor: #339cff;
$columbiaBlueColor: #99ceff;